<%- include('../layouts/headerUser.ejs') %>



<!-- PARALLAX BANNER -->
<div class="breadcrumb parallax-container">
  <% pages.forEach(page => {
    if(page.firstSlug == 'shop') { %>
      <div class="parallax"><img src="/images/pages/<%= page.firstSlug %>/<%= page.banner %>" alt="<%= page.banner %>"></div>
    <% }
  }); %>
  <h1>Shopping Cart</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/cart">Shopping Cart</a></li>
  </ul>
</div>
<!-- End of PARALLAX BANNER -->


<!-- BELLOW BANNER CONTENT -->
<div class="container">
  <div class="row">

    <!-- SIDEBAR -->
    <%- include('../layouts/sidebarM.ejs') %>


    <!-- CART -->
    <div class="col-sm-9" id="content">

      <!-- FLASH MESSAGES -->
      <%- include('../layouts/flashMessages.ejs') %>

      <% if(typeof cart !== 'undefined') { %>
        <h2>Shopping Cart content:</h2>
        <br>
        <!-- CART TABLE HEADER and BODY -->
        <!-- <form enctype="multipart/form-data" method="post" action="#"> -->
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-center">IMAGE</td>
                  <td class="text-center">PRODUCT NAME</td>
                  <td class="text-center">UNIT PRICE</td>
                  <td class="text-center">QUANTITY</td>
                  <td class="text-center">LINE TOTAL</td>
                </tr>
              </thead>
              <tbody>
                <% let total = 0;
                  cart.forEach(item => { 
                    total += item.subtotal; %>
                <tr>
                  <td class="text-center"><a href="/products/<%= item.category %>/<%= item.slug %>"><img class="img-thumbnail" title="<%= item.title %>" alt="<%= item.title %>" src="<%= item.imagePath %>" style="height: 60px;"></a></td>
                  <td class="text-left"><a href="/products/<%= item.category %>/<%= item.slug %>"><%= item.title %></a></td>
                  <td class="text-center">$<%= parseFloat(item.price).toFixed(2) %></td>
                  <td class="text-left">
                    <div style="max-width: 200px;" class="input-group btn-block">
                      <input type="text" class="form-control quantity" size="1" value="<%= item.quantity %>">&nbsp;
                      <!-- <span class="text-left"><%= item.quantity %></span> -->
                      <span class="input-group-btn">
                        <button class="btn btn-primary" data-toggle="tooltip" data-original-title="Add"><a href="/cart/update/<%= item.slug %>?action=add"><i class="fa fa-plus"></i></a></button>
                        <button class="btn btn-primary" data-toggle="tooltip" data-original-title="Reduce"><a href="/cart/update/<%= item.slug %>?action=substract"><i class="fa fa-minus"></i></a></button>
                        <button  class="btn btn-danger" data-toggle="tooltip" data-original-title="Clear"><a href="/cart/update/<%= item.slug %>?action=clear"><i class="fa fa-times-circle"></i></a></button>
                      </span>
                    </div>
                  </td>
                  <td class="text-center">$<%= parseFloat(item.subtotal).toFixed(2) %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        <!-- </form> -->

        <!-- CART TABLE FOOTER -->

        <br>
        <!-- TOTALS -->
        <div class="row">
          <div class="col-sm-4 col-sm-offset-8">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="text-right"><strong>Sub-Total:</strong></td>
                  <td class="text-right">$<%= parseFloat(total * 1).toFixed(2) %></td>
                </tr>
                <tr>
                  <td class="text-right"><strong>Total:</strong></td>
                  <td class="text-right">$<%= parseFloat(total).toFixed(2) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End of TOTALS -->
        <!-- End of CART TABLE FOOTER -->
      <% } else { %>
        <br>
        <h2>Your cart is empty.</h2>
        <br>
      <% } %>

      <!-- BUTTONS -->
      <div class="buttons">
        <div class="pull-left"><a class="btn btn-default" href="/">Continue Shopping</a></div>
        <% if(typeof cart !== 'undefined') { %>
          <div class="pull-right"><a class="btn btn-primary" href="/cart/checkout">Checkout</a></div>
          <div class="pull-right">&nbsp;&nbsp;&nbsp;</div>
          <div class="pull-right"><a class="btn btn-danger" href="/cart/clear" onclick="return confirm('Are you sure you want to clear your cart?')">Clear Cart</a></div>
        <% } %>
      </div>
      
    </div>
    <!-- End of CART -->

  </div>
</div>
<!-- End of BELOW BANNER CONTENT -->


<%- include('../layouts/userFooter.ejs') %>
