<%- include('../layouts/headerUser.ejs') %>

<div class="div-main-slider  k1">
  <div class="main-slider single-item">
    <div>
      <img src="styles/img/slide1_image.jpg" alt="" style="width: 100%">
    </div>
    <div>
      <img src="styles/img/slide1_image.jpg" alt="" style="width: 100%">
    </div>
  </div>
</div>

<!--3 sp hoa qua-->
<div class="container con k1">
  <div class="row">
    <% categories.forEach(category => { %>
    <div class="col-md-4 col-sm-6 col-6">
      <a href="/products/<%= category.slug %>">
        <img src="../../styles/img/<%= category.image %>" alt="">
      </a>

    </div>
      <% }); %>

  </div>
</div>

<!--sp tuoi ngon-->
<div class="container e-tab k1">
  <div class="row tabs-title">
    <div class="hide01">
      <h5>tươi ngon nhất</h5>
      <div class="tabs-title-botton"></div>
    </div>
    <div class=" tabs  ">
      <ul class="nav nav-tabs d-tab" role="tablist" >
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Đặc biệt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Tốt nhất</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Mới nhất</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div class="tab-pane show fade in active row tabcontent" id="tabs-1" role="tabpanel">
      <% specialProds.forEach(product => { %>
      <div class="col-md-3 col-sm-6 col-6 clearfix">
        <div class="product-info">
          <a href="/products/<%= product.category.slug %>/<%= product.slug %>">
            <img class="img-responsive img-fluid" title="<%= product.title %>" alt="<%= product.image %>" src="/images/products/<%= product.firstSlug %>/<%= product.image %>">
          </a>

          <div class="product">
            <h4 class="product-name">
              <a title="<%= product.title %>" href="/products/<%= product.category.slug %>/<%= product.slug %>"><%= product.title %></a>
            </h4>
            <p class="price product-price">
              <span class="price-new">$<%= parseFloat(product.price).toFixed(2) %></span>
              <span class="less">$<%= parseFloat(product.originalPrice).toFixed(2) %></span>
            </p>
          </div>
          <div class="div-heart">
            <ul class="ul-heart">
              <li class="li1 l">
                <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <a href="/wishlist/add/<%= product.slug %>"><i class="fa fa-heart-o"></i></a>
                </button>

              </li>
              <li class="li2 l">
                <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                  <a href="/products/<%= product.category.slug %>/<%= product.slug %>"><i class="fa fa-eye"></i></a>
                </button>
              </li>
              <li class="li3 l">
                <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                <% if(user) { %>
                  <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                    <a href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-bag"></i></a>
                  </button>
                <% } else { %>
                  <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                <% } %>
              </li>
            </ul>
          </div>
        </div>

      </div>
        <% }); %>
    </div>

    <div class="row tabcontent tab-pane" id="tabs-2" role="tabpanel">
      <% bestSellProds.forEach(bestS => { %>
        <div class="col-md-3 col-sm-6 col-6 clearfix">
          <div class="product-info">
            <a href="/products/<%= bestS.category.slug %>/<%= bestS.slug %>">
              <img class="img-responsive img-fluid" title="<%= bestS.title %>" alt="<%= bestS.image %>" src="/images/products/<%= bestS.firstSlug %>/<%= bestS.image %>">
            </a>

            <div class="product">
              <h4 class="product-name">
                <a title="<%= bestS.title %>" href="/products/<%= bestS.category.slug %>/<%= bestS.slug %>"><%= bestS.title %></a>
              </h4>
              <p class="price product-price">
                <span class="price-new">$<%= parseFloat(bestS.price).toFixed(2) %></span>
                <span class="less">$<%= parseFloat(bestS.originalPrice).toFixed(2) %></span>
              </p>
            </div>
            <div class="div-heart">
              <ul class="ul-heart">
                <li class="li1 l">
                  <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                  <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <a href="/wishlist/add/<%= bestS.slug %>"><i class="fa fa-heart-o"></i></a>
                  </button>

                </li>
                <li class="li2 l">
                  <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                  <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                    <a href="/products/<%= bestS.category.slug %>/<%= bestS.slug %>"><i class="fa fa-eye"></i></a>
                  </button>
                </li>
                <li class="li3 l">
                  <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                  <% if(user) { %>
                    <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                      <a href="/cart/add/<%= bestS.slug %>"><i class="fa fa-shopping-bag"></i></a>
                    </button>
                  <% } else { %>
                    <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                  <% } %>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% }); %>
    </div>

    <div class="row tabcontent tab-pane" id="tabs-3" role="tabpanel">
      <% newProds.forEach(newP => { %>
        <div class="col-md-3 col-sm-6 col-6 clearfix">
          <div class="product-info">
            <a href="/products/<%= newP.category.slug %>/<%= newP.slug %>">
              <img class="img-responsive img-fluid" title="<%= newP.title %>" alt="<%= newP.image %>" src="/images/products/<%= newP.firstSlug %>/<%= newP.image %>">
            </a>

            <div class="product">
              <h4 class="product-name">
                <a title="<%= newP.title %>" href="/products/<%= newP.category.slug %>/<%= newP.slug %>"><%= newP.title %></a>
              </h4>
              <p class="price product-price">
                <span class="price-new">$<%= parseFloat(newP.price).toFixed(2) %></span>
                <span class="less">$<%= parseFloat(newP.originalPrice).toFixed(2) %></span>
              </p>
            </div>
            <div class="div-heart">
              <ul class="ul-heart">
                <li class="li1 l">
                  <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                  <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <a href="/wishlist/add/<%= newP.slug %>"><i class="fa fa-heart-o"></i></a>
                  </button>

                </li>
                <li class="li2 l">
                  <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                  <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                    <a href="/products/<%= newP.category.slug %>/<%= newP.slug %>"><i class="fa fa-eye"></i></a>
                  </button>
                </li>
                <li class="li3 l">
                  <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                  <% if(user) { %>
                    <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                      <a href="/cart/add/<%= newP.slug %>"><i class="fa fa-shopping-bag"></i></a>
                    </button>
                  <% } else { %>
                    <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                  <% } %>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% }); %>
  </div>
</div>
</div>

<!--big sale-->
<div class="section-countdown">
  <div class="container">
    <div class="section-title">
      <h2 class="t2">Sản phẩm phổ biến</h2>
<!--      <p class="t3">Giảm giá 25% Táo Đỏ USA nhập khẩu từ này đến hết 20/10/2018</p>-->
    </div>
<!--    <div class="lof-labelexpired">-->
<!--      Hết hạn-->
<!--    </div>-->
  </div>
  <div class="slick-center-wrap">
    <ul class="slick-center">
      <% specialProds.forEach(product => { %>
        <div class="col-md-4 col-sm-6 col-6 clearfix">
          <div class="product-info">
            <a href="/products/<%= product.category.slug %>/<%= product.slug %>">
              <img class="img-responsive img-fluid" title="<%= product.title %>" alt="<%= product.image %>" src="/images/products/<%= product.firstSlug %>/<%= product.image %>">
            </a>

            <div class="product">
              <h4 class="product-name">
                <a title="<%= product.title %>" href="/products/<%= product.category.slug %>/<%= product.slug %>"><%= product.title %></a>
              </h4>
              <p class="price product-price">
                <span class="price-new">$<%= parseFloat(product.price).toFixed(2) %></span>
                <span class="less">$<%= parseFloat(product.originalPrice).toFixed(2) %></span>
              </p>
            </div>
            <div class="div-heart">
              <ul class="ul-heart">
                <li class="li1 l">
                  <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                  <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                    <a href="/wishlist/add/<%= product.slug %>"><i class="fa fa-heart-o"></i></a>
                  </button>

                </li>
                <li class="li2 l">
                  <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                  <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                    <a href="/products/<%= product.category.slug %>/<%= product.slug %>"><i class="fa fa-eye"></i></a>
                  </button>
                </li>
                <li class="li3 l">
                  <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                  <% if(user) { %>
                    <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                      <a href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-bag"></i></a>
                    </button>
                  <% } else { %>
                    <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                  <% } %>
                </li>
              </ul>
            </div>
          </div>

        </div>
      <% }); %>

    </ul>

  </div>
</div>


<div class="section-policy k1">
  <div class="container section">
    <div class="row">
      <div class="col-md-12 section-title">
        <h2>Cam kết</h2>
        <div class="section-title-botton"></div>
        <p>Chúng tôi luôn muốn mang đến cho bạn dịch vụ tốt nhất</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <div class="row dongbbb">
          <div class=" policy-icon">
            <img src="styles/img/policy1.png" alt="">
          </div>
          <div class="col-md-10 col-sm-10 col-10 policy-text">
            <h4>MIỄN PHÍ VẬN CHUYỂN</h4>
            <p>Miễn phí giao hàng toàn quốc cho các đơn
              hàng lớn hơn 500.000đ. Miễn phí giao hàng cho khách hàng thân thiết. Miễn phí giao hàng nội
              thành Hà Nội</p>
            <a href="" class="btn-policy">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <div class="row dongbbb">
          <div class=" policy-icon">
            <img src="styles/img/policy2.png" alt="">
          </div>
          <div class="col-md-10 col-sm-10 col-10 policy-text">
            <h4>ĐỔI TRẢ HÀNG NHANH CHÓNG</h4>
            <p>Đổi trả hàng nhanh chóng chỉ trong 15 ngày. Chấp nhận đổi trả khi còn nguyên nhãn mác. Đổi
              trả hoàn toàn miễn phí</p>
            <a href="" class="btn-policy">Xem chi tiết</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <div class="row dongbbb">
          <div class=" policy-icon">
            <img src="styles/img/policy3.png" alt="">
          </div>
          <div class="col-md-10 col-sm-10 col-10 policy-text">
            <h4>HỖ TRỢ ONLINE 24/24</h4>
            <p>Khi có vấn đề cần trợ giúp, quý khách hàng vui lòng gọi 19001009 để được giúp đỡ từ phía
              chúng tôi</p>
            <a href="" class="btn-policy">Xem chi tiết</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img class="section-policy-img img-fluid" src="styles/img/policybg.jpg" alt="">
  </div>
</div>
<div class="re">
  <div class="container ">
    <div class="ta">
      <ul class="nav nav-tabs b-tab " role="tablist">
        <li class="nav-item ">
          <a class="nav-link active" data-toggle="tab" href="#tabs-4" role="tab">
            <span>hoa quả đà lạt</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">
            <span>hoa quả miền nam</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
            <span>hàng nhập khẩu</span></a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane show fade in active row tabcontent" id="tabs-4" role="tabpanel">
        <% productsDaLat.forEach(product => { %>
          <div class="col-md-3 col-sm-6 col-6 clearfix">
            <div class="product-info">
              <a href="/products/<%= product.category.slug %>/<%= product.slug %>">
                <img class="img-responsive img-fluid" title="<%= product.title %>" alt="<%= product.image %>" src="/images/products/<%= product.firstSlug %>/<%= product.image %>">
              </a>

              <div class="product">
                <h4 class="product-name">
                  <a title="<%= product.title %>" href="/products/<%= product.category.slug %>/<%= product.slug %>"><%= product.title %></a>
                </h4>
                <p class="price product-price">
                  <span class="price-new">$<%= parseFloat(product.price).toFixed(2) %></span>
                  <span class="less">$<%= parseFloat(product.originalPrice).toFixed(2) %></span>
                </p>
              </div>
              <div class="div-heart">
                <ul class="ul-heart">
                  <li class="li1 l">
                    <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                    <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                      <a href="/wishlist/add/<%= product.slug %>"><i class="fa fa-heart-o"></i></a>
                    </button>

                  </li>
                  <li class="li2 l">
                    <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                    <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                      <a href="/products/<%= product.category.slug %>/<%= product.slug %>"><i class="fa fa-eye"></i></a>
                    </button>
                  </li>
                  <li class="li3 l">
                    <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                    <% if(user) { %>
                      <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                        <a href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-bag"></i></a>
                      </button>
                    <% } else { %>
                      <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                    <% } %>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        <% }); %>

      </div>
      <div class="row tabcontent tab-pane" id="tabs-5" role="tabpanel">
        <% productsNhapKhau.forEach(product => { %>
          <div class="col-md-3 col-sm-6 col-6 clearfix">
            <div class="product-info">
              <a href="/products/<%= product.category.slug %>/<%= product.slug %>">
                <img class="img-responsive img-fluid" title="<%= product.title %>" alt="<%= product.image %>" src="/images/products/<%= product.firstSlug %>/<%= product.image %>">
              </a>

              <div class="product">
                <h4 class="product-name">
                  <a title="<%= product.title %>" href="/products/<%= product.category.slug %>/<%= product.slug %>"><%= product.title %></a>
                </h4>
                <p class="price product-price">
                  <span class="price-new">$<%= parseFloat(product.price).toFixed(2) %></span>
                  <span class="less">$<%= parseFloat(product.originalPrice).toFixed(2) %></span>
                </p>
              </div>
              <div class="div-heart">
                <ul class="ul-heart">
                  <li class="li1 l">
                    <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                    <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                      <a href="/wishlist/add/<%= product.slug %>"><i class="fa fa-heart-o"></i></a>
                    </button>

                  </li>
                  <li class="li2 l">
                    <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                    <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                      <a href="/products/<%= product.category.slug %>/<%= product.slug %>"><i class="fa fa-eye"></i></a>
                    </button>
                  </li>
                  <li class="li3 l">
                    <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                    <% if(user) { %>
                      <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                        <a href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-bag"></i></a>
                      </button>
                    <% } else { %>
                      <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                    <% } %>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        <% }); %>

      </div>
      <div class="row tabcontent tab-pane" id="tabs-6" role="tabpanel">
        <% productsNewZ.forEach(product => { %>
          <div class="col-md-3 col-sm-6 col-6 clearfix">
            <div class="product-info">
              <a href="/products/<%= product.category.slug %>/<%= product.slug %>">
                <img class="img-responsive img-fluid" title="<%= product.title %>" alt="<%= product.image %>" src="/images/products/<%= product.firstSlug %>/<%= product.image %>">
              </a>

              <div class="product">
                <h4 class="product-name">
                  <a title="<%= product.title %>" href="/products/<%= product.category.slug %>/<%= product.slug %>"><%= product.title %></a>
                </h4>
                <p class="price product-price">
                  <span class="price-new">$<%= parseFloat(product.price).toFixed(2) %></span>
                  <span class="less">$<%= parseFloat(product.originalPrice).toFixed(2) %></span>
                </p>
              </div>
              <div class="div-heart">
                <ul class="ul-heart">
                  <li class="li1 l">
                    <!--                      <span><a href=""><i class="fa fa-heart" aria-hidden="true"></i></a></span>-->
                    <button type="button" class="wishlist hv_icon " data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                      <a href="/wishlist/add/<%= product.slug %>"><i class="fa fa-heart-o"></i></a>
                    </button>

                  </li>
                  <li class="li2 l">
                    <!--                      <span><a href=""><i class="fa fa-cart-plus"aria-hidden="true"></i></a></span>-->
                    <button type="button" class="quick-view  hv_icon" data-toggle="tooltip" data-placement="top" title="Quick View">
                      <a href="/products/<%= product.category.slug %>/<%= product.slug %>"><i class="fa fa-eye"></i></a>
                    </button>
                  </li>
                  <li class="li3 l">
                    <!--                      <span><a href=""><i class="fa fa-search-plus" aria-hidden="true"></i></a></span>-->
                    <% if(user) { %>
                      <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn hv_icon" title="Add to Cart">
                        <a href="/cart/add/<%= product.slug %>"><i class="fa fa-shopping-bag"></i></a>
                      </button>
                    <% } else { %>
                      <button type="button" data-toggle="tooltip" data-placement="top" class="addtocart-btn  hv_icon" title="Add to Cart" onclick="return confirm('Please log in, in order to be able to purchase this product!')"><i class="fa fa-shopping-bag"></i></button>
                    <% } %>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        <% }); %>

      </div>
    </div>
  </div>

</div>

<div class="container section-policy">
  <div class="row">
    <div class="col-md-12  a-center">
      <h4>Tin tức khuyến mãi</h4>
      <p>Tin tức rau của quả mới nhất</p>
    </div>
  </div>

  <div class="row blog-item multiple-items">
    <% news.forEach(product => { %>
      <div class=" " style="margin-right: 5px">
        <div class="blog-item-thumbnail">
          <a href="/products/<%= product.category.slug %>/<%= product.slug %>">
            <img class="img-responsive img-fluid" title="<%= product.title %>" alt="<%= product.image %>" src="/images/products/<%= product.firstSlug %>/<%= product.image %>">
          </a>
        </div>

        <div class="blog-item-info">
          <div class="blog-item-name">
            <a href=""><%= product.title %></a>
          </div>

          <p class="blog-item-summary">
            <%- product.features %>
          </p>
          <div class="xemthem">
            <a href="" >Xem thêm</a>
          </div>

        </div>
      </div>

    <% }); %>
  </div>
</div>

<div class="section_mailchimp">
  <div class="container">
    <div class="row rowNogutter">
      <div class="col-md-5 km">
        Đăng ký nhận khuyến mãi
      </div>
      <div class="col-md-7">
        <input type="email" placeholder="  Email của bạn" class="ip">
        <button type="button" class="btn">Nhận khuyến mãi</button>
      </div>
    </div>
  </div>
</div>



<%- include('../layouts/userFooter.ejs') %>
